*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: azure;
    background-color: rgba(88, 16, 32, 0.897);
    
}
header{
    position: relative;
    height: 35vh;
    border-bottom: 7px solid white;
}
main{
    height: 65vh;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left{
    width: 52rom;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right{
    width: 52rem;
    font-size: 2rem;
}
h1{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top:52%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.number{
    background-color: aliceblue;
    color: black;
    font-size: 6rem;
    width: 15rem;
    padding: 3rem 0rem;
    text-align: center;
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.between{
    font-size: large;
    text-align: end;
    position: relative;
    top: 5%;
    right: 2%;
}
.btn_again{
    font-size: large;
    padding: 10px 50px;
    position: relative;
    left: 1%;
}
.message{
    font-size: 3.5rem;
    
    
}
.msg{
    position: relative;
    top: -128px;
}
.guess{
    padding: 60px 5px;
    position: relative;
    bottom: 100px;
    font-size: 2.5rem;
}
.btn_check{
    font-size: 2.5rem;
    padding: 10px 25px;
    position: relative;
    bottom: 80px;
}